
  <div class="panel panel-default">
    <div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" href="#<%= "a"+a.id.to_s %>"><strong><%= a.title %><span class="caret"></span></strong></a>
	  </h4>
    </div>
    <div id="<%= "a"+a.id.to_s %>" class="panel-collapse collapse">
	  <div class="panel-body">
	  
	    <table class="table table-hover">
		  <tbody>
		    <% a.problems.order(location: :asc).each do |p| %>
			  <tr>
			    <td>
				  <%= problems.check_box p.id %>
			    </td>
			    <td><%=p.title%></td>
			  </tr>
		    <% end %>
		  </tbody>
	    </table>
	  
	  </div>
    </div>
  </div>
