<%= content_for :page_title do %>
  <% if params[:copy] %>
    Copy Assignment
  <% else %>
    New Assignment
  <% end %>
<% end %>

<ol class="breadcrumb">
  <% if @assignment.klass %>
    <li><%= link_to 'Classes', klasses_path %></li>
    <li><%= link_to (@assignment.klass.course.course_code+" "+@assignment.klass.course.title+": "+@assignment.klass.semester+" "+@assignment.klass.section.to_s),  klass_assignments_path(@assignment.klass) %></li>
  <% else %>
    <li><%= link_to 'Courses', courses_path %></li>
    <li><%= link_to (@assignment.course.course_code+" "+@assignment.course.title), @assignment.course %></li>
  <% end %>
  <% if params[:copy] %>
    <li class="active">Copy Assignment</li>
  <% else %>
    <li class="active">New Assignment</li>
  <% end %>
</ol>

<% if params[:copy] %>
  <h1>Copy <%= @assignment.title %></h1>
<% else %>
  <h1>New Assignment</h1>
<% end %>

<%= render 'form', assignment: @assignment %>
