<%= content_for :page_title do %>
  Edit Extension
<% end %>

<ol class="breadcrumb">
  <%= render 'assigneds/grading_crumbs', assigned: @extension.assigned %>
  <li><%= link_to "Submissions", submissions_path(assigned: @extension.assigned) %></li>
  <li class="active"> Editing <%=@extension.user.get_full_preferred_name %>'s extension </li>
  </li>
</ol>

<%= render 'form', extension: @extension %>
<br>
<%= link_to "Delete", extension_path(@extension), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>

<br><br>

<% if (current_user.get_professor_classes.include?(@extension.assigned.klass) || current_user.admin?) %>
  <%= link_to "View Student", @extension.user.students.select{|s| s.klass==@extension.assigned.klass}.first, class: "btn btn-default" %>
<% end %>