<%= content_for :page_title do %>
  Change Password
<% end %>

<%= form_with(url: update_password_path, method: :post) do |form| %>

  <div class="form-group">
    <%= form.label "Old Password" %>
    <%= form.password_field :old_password, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label "New Password" %>
    <%= form.password_field :new_password, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label "Confirm New Password" %>
    <%= form.password_field :new_password_confirmation, class: "form-control" %>
  </div>
  
  <%= form.submit "Change Password", class: "btn btn-primary" %>
<% end %>