<%= content_for :page_title do %>
  Classes
<% end %>

<h1>Classes</h1>

<% unless current_user.get_student_classes.empty? %>
	<div class="panel-group">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a data-toggle="collapse" href="#student_classes"><strong>Student Classes<span class="caret"></span></strong></a>
		  </h4>
		</div>
		<div id="student_classes" class="panel-collapse collapse in">
		  
			<table class= "table table-hover">
			  <thead>
				<tr>
				  <th>Course Title</th>
				  <th>Course code</th>
				  <th>Semester</th>
				  <th>Section</th>
				  <th style="width: 20%">Grade</th>
				  <th style="width: 40%">Assignment Status</th>
				</tr>
			  </thead>

			  <tbody>
				<% current_user.get_student_classes.select{|k| k.end_date >= Date.current}.each do |c| %>
				  <tr>
					<% if c.course %>
						<td><%= link_to c.course.title, c %></td>
						<td><%= c.course.course_code %></td>
					<% else %>
						<td><%=link_to "Untitled Class", c %></td>
						<td>Unknown</td>
					<% end %>
					<td><%= c.semester %></td>
					<td><%= c.section %></td>
					<td>
			          <% g = c.get_student_grade_percent(current_user).round(2) %>
			          
			          <div class="progress" style="position: relative; text-align: center">
			            <div class="progress-bar" role="progressbar" aria-hidden="true" style=<%= "width:" + g.to_s + "%;background-color:"+get_color_for_grade(g/100.0)%>></div>
			            <span style="position:absolute; left: 0; right: 0">
			              <%= g %>%
			            </span>
			          </div>
			        </td>
					<td>
					  <%= render "student_status_bar", assigneds: c.assigned %>
					</td>
				  </tr>
				<% end %>
			  </tbody>
			</table>
		  
		    <div class="panel-body">
			  <div class="panel panel-default">
			    <div class="panel-heading">
				  <h4 class="panel-title">
				    <a data-toggle="collapse" href="#prev_student_classes"><strong>Past Classes<span class="caret"></span></strong></a>
				  </h4>
			    </div>
			  <div id="prev_student_classes" class="panel-collapse collapse">
			    
					
					<table class= "table table-hover">
					  <thead>
						<tr>
						  <th>Course Title</th>
						  <th>Course code</th>
						  <th>Semester</th>
						  <th>Section</th>
						  <th style="width: 20%">Grade</th>
						</tr>
					  </thead>

					  <tbody>
						<% current_user.get_student_classes.select{|k| k.end_date < Date.current}.each do |c| %>
						  <tr>
							<% if c.course %>
								<td><%= link_to c.course.title, c %></td>
								<td><%= c.course.course_code %></td>
							<% else %>
								<td><%=link_to "Untitled Class", c %></td>
								<td>Unknown</td>
							<% end %>
							<td><%= c.semester %></td>
							<td><%= c.section %></td>
							<td>
						      <% g = c.get_student_grade_percent(current_user).round(2) %>
							  
							  <div class="progress" style="position: relative; text-align: center">
						        <div class="progress-bar" role="progressbar" aria-hidden="true" style=<%= "width:" + g.to_s + "%;background-color:"+get_color_for_grade(g/100.0)%>></div>
						        <span style="position:absolute; left: 0; right: 0">
						          <%= g %>%
						        </span>
						      </div>
						    </td>
						  </tr>
						<% end %>
					  </tbody>
					</table>
					
			  </div>
			</div>
		    
		  </div>
		</div>
	  
	</div>
<% end %>

<% unless current_user.get_grader_classes.empty? %>
  <br>
	<div class="panel-group">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a data-toggle="collapse" href="#grader_classes"><strong>Grader/TA Classes<span class="caret"></span></strong></a>
		  </h4>
		</div>
		<div id="grader_classes" class="panel-collapse collapse in">
		  
		  
			<table class= "table table-hover">
			  <thead>
				<tr>
				  <th>Course Title</th>
				  <th>Course code</th>
				  <th>Semester</th>
				  <th>Section</th>
				  <th>Assignments Ungraded</th>
				</tr>
			  </thead>

			  <tbody>
				<% current_user.get_grader_classes.select{|k| k.end_date >= Date.current}.each do |c| %>
				  <tr>
					<% if c.course %>
						<td><%= link_to c.course.title, c %></td>
						<td><%= c.course.course_code %></td>
					<% else %>
						<td><%=link_to "?", c %></td>
						<td>?</td>
					<% end %>
					<td><%= c.semester %></td>
					<td><%= c.section %></td>
					<td>
					  <% to_grade = current_user.assigned_graders.select{|ag| ag.assigned.klass==c && ag.assigned.submissions.map{|s| s.contributors.any? && s.turned_in? && (!s.graded? || s.has_active_regrade_request?)}.include?(true)}.count %>
					  <%# to_grade = c.assigned.select{ |ad| ad.assigned_graders.map{|ag| ag.user}.include?(current_user)}.map{|a| a.submissions.where{|s| !s.graded? || s.has_active_regrade_request?}}.flatten.size %>
					  <% if to_grade == 0 %>
					    <span style="color:green">0</span>
					  <% else %>
					    <span style="color:red"><b><%=to_grade%></b></span>
					  <% end %>
					</td>
				  </tr>
				<% end %>
			  </tbody>
			</table>
		  
		    <div class="panel-body">
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" href="#prev_grader_classes"><strong>Past Classes<span class="caret"></span></strong></a>
				  </h4>
				</div>
				<div id="prev_grader_classes" class="panel-collapse collapse">
				  
				  	<table class= "table table-hover">
					  <thead>
						<tr>
						  <th>Course Title</th>
						  <th>Course code</th>
						  <th>Semester</th>
						  <th>Section</th>
						</tr>
					  </thead>

					  <tbody>
						<% current_user.get_grader_classes.select{|k| k.end_date < Date.current}.each do |c| %>
						  <tr>
							<% if c.course %>
								<td><%= link_to c.course.title, c %></td>
								<td><%= c.course.course_code %></td>
							<% else %>
								<td><%=link_to "?", c %></td>
								<td>?</td>
							<% end %>
							<td><%= c.semester %></td>
							<td><%= c.section %></td>
						  </tr>
						<% end %>
					  </tbody>
					</table>
				  
				</div>
			  </div>
			</div>
		  
		</div>
	  </div>
	</div>
<% end %>

<% unless current_user.get_professor_classes.empty? %>
	<div class="panel-group">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a data-toggle="collapse" href="#professor_classes"><strong>Professor Classes<span class="caret"></span></strong></a>
		  </h4>
		</div>
		<div id="professor_classes" class="panel-collapse collapse in">
		  
			<table class= "table table-hover">
			  <thead>
				<tr>
				  <th>Course Title</th>
				  <th>Course code</th>
				  <th>Semester</th>
				  <th>Section</th>
				  <th>Students</th>
				</tr>
			  </thead>

			  <tbody>
				<% current_user.get_professor_classes.select{|k| k.end_date >= Date.current}.each do |c| %>
				  <tr>
					<% if c.course %>
						<td><%= link_to c.course.title, klass_assignments_path(c) %></td>
						<td><%= c.course.course_code %></td>
					<% else %>
						<td><%=link_to "?", klass_assignments_path(c) %></td>
						<td>?</td>
					<% end %>
					<td><%= c.semester %></td>
					<td><%= c.section %></td>
					<td><%= c.students.count %></td>
				  </tr>
				<% end %>
			  </tbody>
			</table>
		  
		  <div class="panel-body">
		  
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h4 class="panel-title">
				  <a data-toggle="collapse" href="#prev_professor_classes"><strong>Past Classes<span class="caret"></span></strong></a>
				</h4>
			  </div>
			  <div id="prev_professor_classes" class="panel-collapse collapse">
			  
				<table class= "table table-hover">
				  <thead>
					<tr>
					  <th>Course Title</th>
					  <th>Course code</th>
					  <th>Semester</th>
					  <th>Section</th>
					  <th>Students</th>
					</tr>
				  </thead>

				  <tbody>
					<% current_user.get_professor_classes.select{|k| k.end_date < Date.current}.each do |c| %>
					  <tr>
						<% if c.course %>
							<td><%= link_to c.course.title, klass_assignments_path(c) %></td>
							<td><%= c.course.course_code %></td>
						<% else %>
							<td><%=link_to "?", c %></td>
							<td>?</td>
						<% end %>
						<td><%= c.semester %></td>
						<td><%= c.section %></td>
						<td><%= c.students.count %></td>
					  </tr>
					<% end %>
				  </tbody>
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
<% end %>

<% if current_user.admin? %>
	<div class="panel-group">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a data-toggle="collapse" href="#all_classes"><strong>[Admin] All Classes<span class="caret"></span></strong></a>
		  </h4>
		</div>
		<div id="all_classes" class="panel-collapse collapse">
		  
			<table class= "table table-hover">
			  <thead>
				<tr>
				  <th>Course Title</th>
				  <th>Course code</th>
				  <th>Semester</th>
				  <th>Section</th>
				</tr>
			  </thead>

			  <tbody>
				<% @klasses.select{|k| k.end_date >= Date.current}.each do |c| %>
				  <tr>
					<% if c.course %>
						<td><%= link_to c.course.title, klass_assignments_path(c) %></td>
						<td><%= c.course.course_code %></td>
					<% else %>
						<td><%=link_to "?", klass_assignments_path(c) %></td>
						<td>?</td>
					<% end %>
					<td><%= c.semester %></td>
					<td><%= c.section %></td>
				  </tr>
				<% end %>
			  </tbody>
			</table>
			
		  
		<div class="panel-body">
		  
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" href="#prev_all_classes"><strong>All Past Classes<span class="caret"></span></strong></a>
			  </h4>
			</div>
			<div id="prev_all_classes" class="panel-collapse collapse">
				<table class= "table table-hover">
				  <thead>
					<tr>
					  <th>Course Title</th>
					  <th>Course code</th>
					  <th>Semester</th>
					  <th>Section</th>
					</tr>
				  </thead>

				  <tbody>
					<% @klasses.select{|k| k.end_date < Date.current}.each do |c| %>
					  <tr>
						<% if c.course %>
							<td><%= link_to c.course.title, klass_assignments_path(c) %></td>
							<td><%= c.course.course_code %></td>
						<% else %>
							<td><%=link_to "?", klass_assignments_path(c) %></td>
							<td>?</td>
						<% end %>
						<td><%= c.semester %></td>
						<td><%= c.section %></td>
					  </tr>
					<% end %>
				  </tbody>
				</table>
			  </div>
		    </div>
		  </div>
		</div>
	  </div>
	</div>
<% end %>

<br>


