<%= form_with(model: checked_rubric_item, local: true) do |form| %>
  <% if checked_rubric_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checked_rubric_item.errors.count, "error") %> prohibited this checked_rubric_item from being saved:</h2>

      <ul>
      <% checked_rubric_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rubric_item_id %>
    <%= form.text_field :rubric_item_id %>
  </div>

  <div class="field">
    <%= form.label :graded_problem_id %>
    <%= form.text_field :graded_problem_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
