<p id="notice"><%= notice %></p>

<h1>Assigned Graders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Assigned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_graders.each do |assigned_grader| %>
      <tr>
        <td><%= assigned_grader.user %></td>
        <td><%= assigned_grader.assigned %></td>
        <td><%= link_to 'Show', assigned_grader %></td>
        <td><%= link_to 'Edit', edit_assigned_grader_path(assigned_grader) %></td>
        <td><%= link_to 'Destroy', assigned_grader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assigned Grader', new_assigned_grader_path %>
