<%= content_for :page_title do %>
  Reset Password
<% end %>

<%= form_with(url: use_password_reset_path, method: :post) do |form| %>
  
  <div class="field">
    <%= form.hidden_field :user_id, value: params[:user] %>
  </div>
  
  <div class="field">
    <%= form.hidden_field :token, value: params[:token] %>
  </div>
  
  <div class="form-group">
    <%= form.label "New Password" %>
    <%= form.password_field :new_password, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label "Confirm New Password" %>
    <%= form.password_field :new_password_confirmation, class: "form-control" %>
  </div>
  
  <%= form.submit "Change Password", class: "btn btn-primary" %>
<% end %>